<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <title>Titulek</title>
 
    <style>
    .breaking{    
        width:500px;
        word-wrap: break-word;
    }
 
 
    /* */
    </style>
 
    <script>
        let arr = []
        function random() {
            arr = []

            delka = parseFloat(document.getElementById("input").value)
                max = parseFloat(document.getElementById("max").value)
                min = parseFloat(document.getElementById("min").value)
                soucet = null

                for (let i = 0; i < delka; i++) {
                    arr[i] = Math.floor((Math.random() * ((max + 1) - min)) + min)
                    soucet += arr[i]
                }

                prumer = soucet / delka
                document.getElementById("text").innerHTML = prumer + " je průměr"
                document.getElementById("array").innerHTML = arr
        }
    </script>
</head>
 
<body>
    <label for="input">Length: </label>
    <input type="text" id="input">
    <p></p>

    <label for="min">Min: </label>
    <input type="text" id="min">
    <p></p>

    <label for="max">Max: </label>
    <input type="text" id="max">
    <p></p>

    <input value= "run" type="button" in="button" onclick=random()>

    <p id = "text" class="breaking"></p>
    <p id = "array" class="breaking"></p>

</body>
</html>

