.button {
    min-width: 100px;
    min-height: 100px;
    background-color: turquoise;
    border: none;
    border-radius: 0;
    font-size: 30px;
    font-weight: 400;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    position: relative;
    top: 100px;
}

.button:hover {
    background-color: lightseagreen;
}